.carousel {
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 2em;  */ 
}


.carousel-inner>.carousel-item>img {
    width: auto;
    margin-left:auto;
    margin-right: auto;
    height: 40em;
}

@media only screen and (max-width: 700px) {
    .carousel-inner>.carousel-item>img {height: 8em;}
  }

  @media only screen and (max-width: 600px) {
    .carousel {
        margin-top:0;
    }
  }

.carousel-item {
    opacity: 0.2;
    transition: opacity ease-out 1.0s;
    /*opacity */
}

.carousel.carousel-fade .carousel-item.active {
    /* margin-bottom: 50px; */
    opacity: 1 !important;
}

.card-body {
    height: 4em;
}

d-block {
   
    margin-left: auto;
    margin-right: auto;
}