html,
body {
  margin: 0;
  padding: 0;
  background-image: url("violin_subtract.png");
  animation: mymove 180s infinite;
  padding-bottom: 25vh;
}

/*background image animation*/
@keyframes mymove {
  50% {
    background-position: center;
  }
}

/*.hidden {
  opacity: 0;
  filter: blur(10px);
  /* transform: translateY(-100%); */
/* transition: all 3s; */
/* background-image: url("../violin_subtract.png"); */
/* transform: scale(0.75); */
/* }
.hidden:hover img {
  transform: scale(1.2);

  overflow: hidden;
}*/

.formcontainer {
  padding: 10px;
  max-width: 500px;
  margin: 100px auto;
  /* background-color: #333; */
  color: #fff;
  border-radius: 0.75rem;

  max-height: auto;
  /* list-style-type: none; */
  overflow: hidden;
  transition: transform 800ms;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: #dddd;
  border-width: 0.5px;
}

#about {
  max-width: 800px;
  padding: 2rem;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 600px) {
  .formcontainer {
    width: 90vw;
  }
}

.formcontainer:hover {
  box-shadow: 0 0 5px rgb(255, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

form label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

form input,
form button,
form select {
  padding: 0.5rem;
}
form button {
  color: #f9f6f6;
  /* background: transparent; */
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  /* border: 1px solid #ffffff80; */
  transition: 0.5s ease;
  user-select: none;
  width: 10rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.nav-link {
  margin-top: 1rem;
}
form button:hover,
.nav-link:hover {
  color: #ff0000;
  background: hsl(0, 100%, 50%, 25%);
  /* border: 1px solid #ff0000; */
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px (0, 100%, 50%, 25%), 0 0 20px #ff0000, 0 0 50px #ff0000,
    0 0 100px #008cff;
}

nav {
  background-color: rgb(217, 83, 79, 0.2);
  height: 8vh;
}
a.active {
  margin-left: 3rem;
}

form button:hover {
  font-size: 1.5rem;
}
form input {
  border-radius: 0.55rem;
  border: none;
  outline: none;
}
textarea {
  height: 60px;
  text-align: top;
}

input#comments {
  min-height: 200px;
  text-align: top;
  padding-block-start: 0px;
}
#text {
  color: red;
}
li,
.tltptext {
  font-size: 1.2rem;
}
